.item {
    margin: 5px;
    display: inline-block;

    width: 80px;
    height: 80px;
    overflow: hidden;

    text-align: center;
    vertical-align: bottom;
    cursor: hand;
}

.item:hover {
    background-color: #bbffaa;
}

.item.active {
    background-color: #44ff88;
}

.item.inactive {
    color: #AAAAAA;
    opacity: 0.5;
}

.item img {
    width: 50px;
    height: 50px;
}
.item div {
    font-size: 10px;
    font-family: Calibri;
}

.typologyAdaptation .item {
    width: 120px;
    height: 120px;
}
.typologyAdaptation .item img {
    width: 100px;
    height: 100px;
}
.typologyAdaptation div, .typologyAdaptation span {
    vertical-align: middle;
}