@import 'map';
@import 'bootstrap';
@import 'sidenav';
@import 'addthis';

body {
  background: #E9E9E9;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: #EA9999;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: #000;
    text-decoration: underline;
  }
}


.content {
  background-color: #F1F1F1;

  height: 500px;
  width: 95%;

  margin-left: 50px;
  padding: 10px;

  border: aquamarine solid 1px;

  display: inline-block;
}


